<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UexKeyValues</key>
	<dict>
		<key>enablelog</key>
		<string>$uexESurfingRtc_enablelog$</string>
		<key>notification</key>
		<string>$uexESurfingRtc_notification$</string>
		<key>notificationGrp</key>
		<string>$uexESurfingRtc_notificationGrp$</string>
		<key>enableAPNs</key>
		<string>$uexESurfingRtc_enableAPNs$</string>
		<key>pushid</key>
		<string>$uexESurfingRtc_pushid$</string>
		<key>pushkey</key>
		<string>$uexESurfingRtc_pushkey$</string>
		<key>pushmastersecret</key>
		<string>$uexESurfingRtc_pushmastersecret$</string>
	</dict>
</dict>
</plist>